#nav
  %ul
    %li
      %a{:href=>editpw_path}
        %span
          Change password
    %li
      %a{:href=>domains_path}
        %span
          Domains
    %li
      %a{:href=>ssl_index_path}
        %span
          SSL certificates
